
/**
 * $ARROWS FOR EXPANDING FLYOUT
 */

.has-submenu:before {
    @extend [class^="icon-"], [class*=" icon-"];
    @extend .icon-right-arrow:before;
    
    float: right;
    padding-top: 10px;
    font-size: 14px;
}

/**
 * $TITLE GROUP
 */

/**
 * $SITE-LOGO
 */
.title-bar {
	border-bottom: none;
}

.site-logo {
	height: inherit;
	display: block;
	margin: 0;
}

.site-logo a {
	background: url("/images/cru-logo_new.svg") no-repeat center center;
	height: 47px;
	margin: 19px 20px 20px;
}

/**
 * $SITE-SEARCH
 */

.site-search {
	top: 25px;
	rigth: 20px;
}

.site-search-form {
	height: 36px;
}

.site-search__label {
	color: #8c8c8c;
	padding: 0 10px 0 0;
	margin-top: 3px;
}