<div class="lunchMenu  js-lunchMenu  fadeIn">
    <a class="lunchMenu-close  icon--close" href="#"><i class="" role="button">Close</i></a>
    <form class="globalSearch-form  m0" role="search">
        <input id="site-search" type="search" class="globalSearch-item  globalSearch-input  form-control"  placeholder="Search"  aria-labelledby="globalSearch-label"></input><!--
     --><button type="submit" class="globalSearch-item  globalSearch-btn  btn  btn-link" role="button">
            <span class="icon--search">Search Site</span>
        </button><!--
        --><button class="globalSearch-item  globalSearch-btn  btn  btn-link  js-globalSearch-btn" role="button">
               <span class="icon--select">Narrow Search</span>
           </button>
           <ul class="globalSearch-choices  listBlock  js-globalSearch-choices">
               <li>
                   <a href="#search-main" id="cru_org" class="searchlink  js-searchlink selected  nav-item">This Site</a>
                </li>
                <li>
                    <a href="#give" id="give_site" class="searchlink  js-searchlink  nav-item">Give to Staff, Ministries</a>
                </li>
           </ul>
        <!--<select type="select" class="globalSearch-item  globalSearch-select  form-control" name="">
            <span class="icon--select"></span>
            <option value="Entire Site">Entire Site</option>
            <option value="Give">Give to Staff and Ministries</option>
        </select>-->
    </form>
    <div class="btn-group">
        <button class="btn  btn-primary  col-xs-6  actionBtn">Log In</button>
        <button class="btn  btn-subtle  col-xs-6  actionBtn">Sign Up</button>
    </div>
    <ul class="listBlock">
        <li class="dropdownWrap  js-dropdownWrap">
            <a href="#how-to-know-god" class="lunchMenu-link  u-linkClean  js-lunchMenu-btn">
                <span class="icon--plus  lunchMenu-icon  js-lunchMenu-icon">How to Know God</span>
            </a>

            <div class="dropdown  js-dropdown">
                <ul class="nav-link  listBlock">
                    <li>
                        <a href="#" class="nav-cat  nav-item" id="nav-cat-0">
                            <span class="icon--chevronRight  lunchMenu-icon">How to Know God</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">My Story: A Life Changed</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Jesus and the Intellectual</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Jesus: God or Just a Good Man?</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Why the Resurrection Matters to You</span>
                        </a>
                    </li>
                </ul>
            </div>

        </li>

        <li class="dropdownWrap  js-dropdownWrap">
            <a href="#train-and-grow" class="lunchMenu-link  u-linkClean  js-lunchMenu-btn">
                <div class="icon--plus  lunchMenu-icon  js-lunchMenu-icon">Train & Grow</div>
            </a>

            <div class="dropdown  js-dropdown">
                <ul class="nav-link  listBlock">
                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Train & Grow</span></a>
                    </li>

                    <li class="has-submenu">
                        <a href="#" class="nav-cat  nav-item" id="nav-cat-0">
                            <span class="icon--chevronRight  lunchMenu-icon">Classics</span>
                        </a>

                        <ul class="listBlock  m0">
                            <li>
                                <a href="#" class="nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">How to Know God Personally</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Have You Made the Wonderful Discovery of the Spirit-Filled Life?</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Transferable Concepts</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">10 Basic Steps to Christian Maturity</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Bible Studies</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Training</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Evangelism</span>
                        </a>
                    </li>

                    <li  class="has-submenu">
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Prayer, Quiet Times, Devotionals</span>
                        </a>

                        <ul class="listBlock  m0">
                            <li>
                                <a href="#" class="nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Discover God's Character E-Devotionals</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Personal Guide to Fasting</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">7 Steps to Fasting</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Advent</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Lent<span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Today's Promise</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>

        <li class="dropdownWrap  js-dropdownWrap">
            <a href="#communities" class="lunchMenu-link  u-linkClean  js-lunchMenu-btn">
                <div class="icon--plus  lunchMenu-icon  js-lunchMenu-icon">Communities</div>
            </a>
            <div class="dropdown  js-dropdown">
                <ul class="nav-link  listBlock">
                    <li>
                        <a href="#" class="nav-cat  nav-item" id="nav-cat-0">
                            <span class="icon--chevronRight  lunchMenu-icon">Campus</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">City</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Inner City</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Athletes</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Families</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">High School</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Military</span>
                        </a>
                    </li>

                    <li class="has-submenu">
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Locate Cru Near You</span>
                        </a>
                        <ul class="listBlock">
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Africa</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Americas</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Asia</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Australia-Oceania</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Europe</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">More</span>
                        </a>

                        <ul class="listBlock">
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Athletes In Action</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">City</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Christian Embassy, D.C.</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Christian Embassy - United Nations</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Faculty & Graduates</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Family Life</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Global Aid Network</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Inner City</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Military</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">The Impact Movement</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">The JESUS Film Project</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Josh McDowell Ministry</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Keynote</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">All</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>

        <li class="dropdownWrap  js-dropdownWrap">
            <a href="#opportunities" class="lunchMenu-link  u-linkClean  js-lunchMenu-btn">
                <span class="icon--plus  lunchMenu-icon  js-lunchMenu-icon">Opportunities</span>
            </a>
            <div class="dropdown  js-dropdown">
                <ul class="nav-link  listBlock">
                    <li class="has-submenu">
                        <a href="{{ site.root }}mega-menu/opportunities/mission-trips/index.html" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Mission Trips</span>
                        </a>
                        <ul class="listBlock">
                            <li>
                                <a href="{{ site.root }}mega-menu/opportunities/mission-trips/summer-missions/index.html" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Summer Missions</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Internships</span>
                        </a>

                        <ul class="listBlock">
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Orlando Summer Project</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Preview Weekend</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">1-Year Internship in Orlando</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Volunteer</span>
                        </a>

                        <ul class="listBlock">
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Contact Us</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Orlando Openings</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Volunteer Profiles</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Volunteer Sign Up</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Careers</span>
                        </a>

                        <ul class="listBlock">
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Hourly & Salaried Positions at Our World Headquarters</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">World Headquarters Opportunities</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Missionary Staff Careers</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">International Missions Opportunities</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-cat  nav-item">
                                    <span class="icon--chevronRight  lunchMenu-icon">Staff Profiles</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>

        <li class="dropdownWrap  js-dropdownWrap">
            <a href="#about" class="lunchMenu-link  u-linkClean  js-lunchMenu-btn">
                <div class="icon--plus  lunchMenu-icon  js-lunchMenu-icon">About</div>
            </a>
            <div class="dropdown  js-dropdown">
                <ul class="nav-link  listBlock">
                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Donor Relations</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">What We Do</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Our Leadership</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Contact Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Press</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">WorldWide Challenge</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="dropdownWrap  js-dropdownWrap">
            <a href="#store" class="lunchMenu-link  u-linkClean  js-lunchMenu-btn">
                <div class="icon--plus  lunchMenu-icon  js-lunchMenu-icon">Store</div>
            </a>
            <div class="dropdown  js-dropdown">
                <ul class="nav-link  listBlock">
                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">All Stores</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">
                            <span class="icon--chevronRight  lunchMenu-icon">Featured Products</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li>
            <a href="#give" class="lunchMenu-link  u-linkClean">Give<span></span></a>
        </li>
    </ul>
</div>
