$headerHeight: 84px;

$actionNav-height: $headerHeight / 2;
$siteNav-height:   $headerHeight / 2;

$enable-margins:          false;
$enable-margins--tiny:    false;
$enable-margins--small:   false;
$enable-margins--large:   false;
$enable-margins--huge:    false;
$enable-margins--none:    true;


$enable-paddings:         true;
$enable-paddings--tiny:   false;
$enable-paddings--small:  false;
$enable-paddings--large:  false;
$enable-paddings--huge:   false;
$enable-paddings--none:   false;
